.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
  font-family: Arial
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-family: "Arial";
  transform: translate(-50%, -50%);
}

.centered > a , .info-text {
   text-decoration: none;
   font-family: 'Bebas Neue', cursive;
   color:black;
}


.info-text > h1{
	font-size: 70px;
}

.centered> a:hover{
   font-size: 60px;
  
}

.card > img {
  filter: opacity(70%);
}


.navbar-brand  {
	font-family: 'Lobster', cursive;
	font-size: 40px;
}


.modal-header{
	text-align: center;

}

.info-text{
	margin-left: 200px;
	margin-top: 200px;
}


@media (min-width: 1200px) {
 	 .jumbotron{
		background-image: url("../images/bg-1.jpg");
		background-size: cover;
	 	height: 720px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
	 .jumbotron{
		background-image: url("../images/bg-1.jpg");
	 	background-size: cover;
	 	height: 720px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
   .jumbotron{
		background-image: url("../images/bg-1.jpg");
	 	background-size: cover;
	 	height: 500px;
	}
  /* End Home Page */

  @media (min-width: 577) and (max-width: 767px) {
		.jumbotron{
			background-image: url("../images/bg-1.jpg");
	 		background-size: cover;
	 		height: 500px;
		}
	}

